.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0;
    /* color: white; */
}
.container hr{
    border: 0;
    height: 5px;
    width: 80%;
    background: red;
    border-radius: 25px;
}
.heading{
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
}
.toolbar{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.colors{
    display: flex;
    gap: 20px;
}
.colors .color{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: red;
}
.colors .active{
    border: 4px solid rgb(255, 251, 251);
}
.toolbar button{
    margin-left: 70%;
    cursor: pointer;
    background-color: rgb(20, 226, 20);
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 20px;
}
.toolbar button svg{
    height: 20px;
    width: 20px;
}
.toolbar button:hover{
    background-color: rgb(255, 7, 7);
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    /* align-items: center; */
  }

  .aftereditor{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 25px;
    margin: 15px;
  }