.container1{
    background-color: rgb(1, 1, 74);
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    
}
.head{
    font-size: 3.5rem;
    color: rgb(210, 19, 19);
    line-height: 4rem;
    max-width: 450px;
    font-weight: bold;
   
}
.head span{
    color: rgb(8, 231, 34);
}
.right img{
    width: 35rem;
    
}